ion-header{
  ion-toolbar{
    width: 100%;
    height: 70px;
    margin: auto;
    margin-bottom: 0px;
    border-radius: 10px;

  }
  ion-icon {

    border-radius: 50px;
    padding: 15px;

    background: linear-gradient(315deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 125, 81, 0.2) 74%);
  }

}
.logout{
  margin-left: 87%;
  margin-top: -11%;
}
.notif{
  margin-left: 50%;
  margin-top: -30%;

}
.msg{

}
.img{
  width: 20%;
  border-radius: 50px;
  padding: 10px;
  position: fixed;
  top: -7%;

}
